<ion-header>

  <ion-navbar>
    <ion-title>Listado Ventas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="crearVenta()">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list radio-group (ionChange)="change($event)">
    <div class="row">
      <ion-item style="width:47%">
        <ion-label>Realizadas</ion-label>
        <ion-radio value="realizadas" checked="true"></ion-radio>
      </ion-item>
      <ion-item style="width:53%">
        <ion-label>En Publicación</ion-label>
        <ion-radio value="publicacion"></ion-radio>
      </ion-item>
    </div>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let venta of ventas">
      <ion-thumbnail item-start>
        <img src="http://192.168.100.4:8080/recogerProducto/{{venta.idProducto}}">
      </ion-thumbnail>
      <h2>{{venta.titulo}}</h2>
      <p>
        {{venta.rangoHoraDisponibleMin | date:'HH:mm'}} - {{venta.rangoHorarioDisponibleMax | date:'HH:mm'}}
      </p>
      <p *ngIf="realizadas">Total ganado: {{venta.precio}} €</p>
      <button *ngIf="!realizadas" ion-button clear item-end (click)="goDetalleVenta(venta.idVenta)">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>