<ion-header>

  <ion-navbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-row *ngIf="mostrarFoto" class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="http://192.168.100.6:8080/recogerProducto/{{venta.idProducto}}" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form [formGroup]="myForm" (ngSubmit)="gestionar()">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item *ngIf="mostrar">
              <input type="file" id="file" (change)="handleFileInput($event.target.files)">
            </ion-item>
            <ion-item>
              <ion-label>Producto:</ion-label>
              <ion-input type="text" formControlName="titulo" [value]="venta.titulo" [disabled]="disabled"></ion-input>
            </ion-item>
            <ion-item *ngIf="mostrarFoto">
              <ion-label>Vendedor:</ion-label>
              <ion-input type="text" [value]="nombreUsuario" [disabled]="disabled"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Fecha Alta:</ion-label>
              <ion-input type="text" formControlName="fechaAlta" [value]="date" [disabled]="disabled"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Horario:</ion-label>
              <ion-input type="text" formControlName="horario" [value]="horario" [disabled]="disabled"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Cantidad producto:</ion-label>
              <ion-input type="text" formControlName="cantidad" [value]="venta.cantidad" [disabled]="disabled"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Precio unidad:</ion-label>
              <ion-input type="text" formControlName="precio" [value]="venta.precio" [disabled]="disabled"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Descripcion:</ion-label>
              <!-- <ion-input type="text" [value]="venta.titulo" [disabled]="disabled"></ion-input> -->
              <ion-textarea text-justify formControlName="descripcion" [value]="venta.descripcion" [disabled]="disabled"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <button ion-button block type="submit" [disabled]="!myForm.valid">{{textoBoton}}</button>
    </form>
  </div>
</ion-content>