<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cerrarSesion()">
        <ion-icon ios="md-exit" md="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-input type="search"></ion-input>   -->

  <ion-searchbar [showCancelButton]="true" (ionInput)="onInput($event)" animated="true">
    <ion-list>
      <ion-item *ngFor="let venta of ventas">
        {{ venta.descripcion }}
      </ion-item>
    </ion-list>
  </ion-searchbar>

  <div *ngFor="let c of ciudades">
    <p>{{c.nombreCiudad}}</p>
  </div>
  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
